*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    object-fit: contain;
    width: 100%;
}
#main{
    display: flex;
}
#dropdown{
    border: 2px dotted lightblue;
    margin-left: 1%;
    width: 3%;
    
}
#middle{
    border: 2px dotted lightskyblue;
    margin: auto;
    width: 80%;
    height: 95vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#listatareas{
    border: 2px dashed darkblue;
    max-height: 50%;
    
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.tarjetatarea{
    border: 2px dashed darkcyan;
    border-radius: 5px;
    width: 70%;
    margin: 0.5% auto 0.5%;
    flex-shrink: 1;

    display: flex;
    gap: 2%;
    align-items: center;
    
}
.imgcontainer{
    display: flex;
    width: 5%;
}

#inputbox{
    border: 2px dashed darkblue;
    margin: 10% auto 2% auto;
    width: 90%;
    border-radius: 50px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
p{
    margin-left:3.5% ;
}